.root {
    -fx-background-image: url("../images/waiting_bg.png");
    -fx-background-size: contain;
}

.form-background {
    -fx-padding: 24px 0px 30px 0px;
}

.form-text {
    -fx-font-family: "sans-serif";
}

.form-label {
    -fx-font-size: 12px;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-padding: 0 0 6px 0;
}

.form-label-top {
    -fx-padding: 0 0 18px 0;
}

.form-label-error {
    -fx-text-fill: rgb(255, 128, 128);
    -fx-padding: 0 0 12px 0;
}

.form-heading {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0 24px 0;
}

.form-inputfield{
    -fx-padding: 12px 8px 24px 8px;
    -fx-border-insets: 4px 0 20px 0;
    -fx-background-insets: 4px 0 20px 0;
}

.form-inputfield-disabled {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
