.root {
	-fx-background-image: url("../images/waitingbackground.png");
	-fx-background-size: contain;
}

.highscore-table,
.highscore-table .table-column {
	-fx-background-color: rgba(0, 0, 0, 0.4);
	-fx-text-fill: rgb(255, 255, 255);
}
.highscore-table .column-header .label {
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-weight: bold;
}

.highscore-table .table-row-cell:even .label {
	-fx-background-color: rgba(255, 255, 255, 0.1);
}
