.modal-background {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.dialog-background {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

.dialog-text {
    -fx-font-family: "sans-serif";
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.dialog-h1 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.dialog-game-over {
    -fx-font-size: 160px;
    -fx-font-weight: bold;
}

.button-light {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-text-fill: rgba(0, 0, 0, 0.8);
    -fx-padding: 12px 10px 10px 10px;
}

.menu-button.button-light,
.menu-item {
    -fx-padding: 5px 10px 5px 10px;
}

.button-dark {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-padding: 12px 10px 10px 10px;
}

.button-darkred {
    -fx-background-color: rgba(128, 0, 0, 0.8);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-padding: 12px 10px 10px 10px;
}